
html,body{

	@extend .position-relative;

	min-height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;

	main {
		min-height: calc(100vh - 290px - 75px);
	}
}

section{

	padding-top: 14rem;
	padding-bottom: 6rem;

	@include media-breakpoint-down(lg){
		padding: 4rem 1.8rem!important;
	}

	.container{
		@extend .px-0;
	}
}
// For pages sith aside

.have-aside{
	aside{
		background-image: url('../../_assets/images/Page_Contact/bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom -15rem right -24rem;
		display: block;
		width: $aside-width;
		height: 100%;
		position: fixed;
		left: 0; top: 0;

		@include media-breakpoint-down(xl){
			width: 535px!important;
			background-position: bottom 2rem right -16rem;
		}

		@include media-breakpoint-down(lg){
			width: 100%!important;
			position: relative!important;
			padding-left: 1rem;padding-right: 1rem;
			padding-bottom: 3rem;
			padding-top: 7rem;
		}

		@include media-breakpoint-up(lg){
			z-index: 2;
		}

		@include media-breakpoint-down(lg){
			// z-index: 2;
		}
	}

	> main{
		width: calc(100% - $aside-width);
		margin-left: $aside-width;
		position: relative;
		height: 100%;
		min-height: 100%;

		@include media-breakpoint-down(xl){
			margin-left: 535px!important;
		}

		@include media-breakpoint-down(lg){
			width: 100%!important;
			margin-left: 0!important;
		}
	}
}