.page-home{
	// h2{
	// 	@include media-breakpoint-up(lg){
	// 		font-size: $h1-font-size!important;
	// 	}
	// }
	.home-hero{
		overflow: hidden;
		@extend .position-relative;
		// @extend .pt-lg-9, .pt-16;
		padding-bottom: 15rem;
		background: url('../../_assets/images/Page_Home/page-home-hero.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		@include media-breakpoint-down(lg){
			padding-top: 8rem!important;
			padding-bottom: 0!important;
		}

		@include media-breakpoint-down(md){
			background: url('../../_assets/images/Page_Home/page-home-hero.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: -12.5rem 0.5rem;
		}

		h1{

			font-size: $h1-xl-font-size;

			@include media-breakpoint-down(lg){
				font-size: 2.25rem!important;
			}
		}

		.btn{
			@include media-breakpoint-up(lg){
				white-space:nowrap;
			}
		}

		.col-img{
			@extend .position-absolute, .end-0;
			bottom: -15rem;

			@include media-breakpoint-down(lg){
				display: flex;
				position: relative!important;
				bottom: 0;
			}

			.hero-img{
				left: -3rem;
				@extend .position-relative;
				@include media-breakpoint-down(lg){
					left:0;
					margin-left: auto;
					margin-right: auto;
					max-width :21rem;
					height: auto;
					position: relative;
				}
				@include media-breakpoint-up(lg){
					width:70rem;
				}
			}
		}

	}

	.hero-banner{
		@extend .container, .bg-dark;
		@extend .px-lg-8, .px-5, .py-lg-7, .py-5;
		@extend .mt-lg-n13, .mt-n4;
		@extend .position-relative;
		z-index: 2;

		ul{
			@extend .mb-0;
			@extend .marked-list;
			column-count: 2;

			@include media-breakpoint-down(lg){
				column-count: 1!important;
			}

			li{
				margin-bottom: 0.15rem!important;

				@include media-breakpoint-down(lg){
					margin-bottom: 0.75rem!important;
				}
			}
		}
	}

	.logistic-services{
		@extend .container, .pt-lg-22, .pt-9, .pb-md-18, .pb-8;

		.images-col{
			// @extend .col-xl-6, .col-12;
			@extend .position-relative, .w-25, .ms-auto, .bg-primary;

			&:before{
				@extend .bg-primary;
				width: 5rem;
				position: absolute;
				margin-left: auto;
				@include media-breakpoint-between(lg, xl){
					content:'';
					top: 6rem;
					height: 30rem;
					right: -5rem;
				}

				@include media-breakpoint-down(lg){
					content:'';
					bottom: 0;
					margin-top: auto;
					margin-bottom: auto;
					top: -20rem;
					height: 20rem;
					right: -4rem;
				}

				@media screen and (max-width:450px){
					margin-right: -2rem;
				}
			}

			@include media-breakpoint-down(xl){
				background:unset!important;
			}

			@include media-breakpoint-down(lg){
				margin-top: 30rem!important;
				margin-left: auto!important;
				margin-right: auto!important;
				background: unset!important;
			}

			@include media-breakpoint-down(md){
				margin-top:25rem!important;
			}

			.img-a{
				@extend .position-absolute;

				top: -5rem;
				left: -9rem;
				z-index: 2;

				@include media-breakpoint-between(lg,xl){
					top: 0!important;
					left: -7rem!important;
				}

				@include media-breakpoint-down(lg){
					width: 15rem;
					height: auto;
					top: -26rem!important;
					left: -4rem!important;
				}

				@include media-breakpoint-down(md){
					max-width:11rem;
					top:-22rem!important;
					left:-2rem!important;
				}
			}

			.img-b{
				@extend .position-absolute;

				left: -22rem!important;
				margin-top: auto;
				margin-bottom: auto;
				top: 0;
				bottom: 0;
				z-index: 1;

				@include media-breakpoint-between(lg,xl){
					left: -19rem!important;
				}

				@include media-breakpoint-down(lg){
					max-width: 15rem;
					height: auto;
					left:-13rem!important;
					top:unset!important;
				}

				@include media-breakpoint-down(md){
					left:-7.5rem!important;
					max-width:10rem!important;
					top: -20rem!important;
				}
			}

			.img-c{
				@extend .position-absolute;

				bottom: -4rem;
				left: -3rem;
				z-index: 3;

				@include media-breakpoint-between(lg,xl){
					left: -4rem!important;
					bottom: 1rem!important;
				}

				@include media-breakpoint-down(lg){
					width: 15rem;
					height: auto;
					left: 1.5rem!important;
					bottom: -4rem!important;
				}

				@include media-breakpoint-down(md){
					max-width: 11.5rem;
					bottom: 0!important;
				}
			}
		}
	}

	.section-insights{
		@extend .position-relative;

		@include media-breakpoint-down(lg){
			padding-left: 0!important;
			padding-right: 0!important;
		}

		.image-col{
			padding: 25.5rem 0;
			background:url('../../_assets/images/Page_Home/bg-insights.jpg');
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center center;

			@include media-breakpoint-down(lg){
				padding: 14rem 0;
			}

			@include media-breakpoint-down(sm){
				background-position: bottom 0rem right -20rem;
			}
		}

		.card-wrapper{
			@extend .position-absolute;
			// right: 17rem;
			top: -3rem;

			@include media-breakpoint-down(lg){
				// position:relative!important;
				padding: 0 4.8rem;
				right: 0;
				left:  0;
				top: unset;
				margin-left: auto;
				margin-right: auto;
				bottom: -9rem;
			}

			@include media-breakpoint-down(md){
				padding: 0 2.4rem;
				bottom: -16rem;
			}

			.card{
				@extend .bg-dark, .text-white, .py-lg-12, .py-7, .px-lg-10, .px-5;
				width: 37rem;
				margin-left:-22rem;
				@include media-breakpoint-down(lg){
					width: 100%;
					margin-left:0!important;
				}

				h2{
					font-size: $h1-font-size;

					@include media-breakpoint-down(lg){
						font-size: 1.25rem!important;
					}
				}

				p{
					line-height: $line-height-lg;
				}
			}
		}
	}

	.section-put-drivers-first{
		@extend .container, .py-lg-19, .py-3;
		@extend .mb-lg-17;

		@include media-breakpoint-down(lg){
			margin-bottom: 24rem;
			margin-top: 13rem;
		}

		@include media-breakpoint-down(md){
			margin-top:16rem;
			margin-bottom:14rem;
		}

		.text-col{
			@include media-breakpoint-down(lg){
				margin-bottom: 18rem;
			}
			@include media-breakpoint-down(md){
				margin-bottom: 14rem;
			}
		}

		.img-a{
			@extend .position-absolute, .start-0;
			top: -6rem;

			@include media-breakpoint-down(xxl){
				left: -1rem!important;
			}

			@include media-breakpoint-down(lg){
				width:15rem;
				top: -14rem!important;
				left: 0.5rem!important;
			}

			@include media-breakpoint-down(md){
				max-width: 9rem;
				top:-10rem!important;
			}
		}

		.img-b{
			@extend .position-absolute, .top-0, .bottom-0, .my-auto;

			z-index: 2;
			right: 0; left: 0;
			margin-left: auto; margin-right: auto;

			@include media-breakpoint-down(lg){
				max-width: 30rem;
				height: auto;
			}

			@include media-breakpoint-down(md){
				max-width: 18rem;
			}
		}

		.img-c{
			@extend .position-absolute, .end-0;
			bottom: -6rem;

			@include media-breakpoint-between(xl, xxl){
				right: -3rem!important;
			}

			@include media-breakpoint-down(xl){
				right:-7rem!important;
			}

			@include media-breakpoint-down(lg){
				width: 15rem;
				bottom: -17rem!important;
				z-index: 3;
				right:0rem!important;
			}

			@include media-breakpoint-down(md){
				max-width: 9rem;
				bottom: -10rem!important;
				right:1rem!important;
			}
		}
	}

	.section-testimonial{
		@extend .pt-lg-12, .pt-4, .pb-lg-12, .pb-6;
		@extend .pe-md-14, .pe-4;
		@extend .position-relative;
		@extend .container;
		@extend .bg-secondary;
		@extend .background-secondary, .left;

		h3{
			@extend .mb-2;
			line-height: $line-height-base;
			@include media-breakpoint-down(lg){
				font-size: 1.12rem;
			}
		}

		.icon-testimonial{
			margin-top: -14rem;
			@include media-breakpoint-down(lg){
				margin-top: -4rem;
				width: 4rem;
				height: auto;
			}
		}
	}

	.icon-wrapper{
		@extend .ps-lg-0, .ps-2;
		@extend .mb-lg-0, .mb-4;

		&:last-of-type{
			@include media-breakpoint-down(lg){
				margin-bottom: 0!important;
			}
		}

		width: 15%!important;

		@include media-breakpoint-down(lg){
			text-align:center;
			width: 30%!important;
		}

		.icon{
			@extend .img-fluid;
		}
	}
}